.editor-container {
    display: grid;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.select-language {
    align-self: end;
}

.run-button {
    width: 100px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.resize-bar {
    /*width: 20px;*/
    background-color: #000;
    grid-row: 2 / 3;
    height: 300px;
}

.resize-bar:hover {
    cursor: ew-resize;
}

.code-mirror {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.code-mirror pre {
    word-break: break-all;
}
