.editor {
    text-align: start;
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.editor-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.reset-button {
    align-self: end;
    border: none;
    background-color: transparent;
    font-size: medium;
    transform: translateY(25px);
    color: red;
    z-index: 20;
}


