.editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-grow: 1;
}

.editor-full {
    /*flex-grow: 1;*/
    width: 33.3%;
    /*flex-shrink: 1;*/
    flex-basis: auto;
    display: flex;
}

.editor-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.reset-button {
    align-self: end;
    border: none;
    background-color: transparent;
    font-size: medium;
    transform: translateY(25px);
    color: red;
    z-index: 20;
}


