.editor {
    text-align: start;
    width: 32%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.editor-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-button {
    height: 50%;
}


