.editor-container {
    display: flex;
    width: 100%;
    justify-content: start;
    align-self: stretch;
    position: relative;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.run-button {
    width: 100px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.resize-bar {
    width: 2%;
    background-color: #000;
}

.resize-bar:hover {
    cursor: ew-resize;
}
